# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.gitattributes

# testing
/coverage

# production
# /build removed so we can build locally
/build

# misc
.DS_Store
.env
.env.dev
config-overrides.js
README.md
package-lock.json

.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
stripe.exe